/*
 * Page Styles
 *
 * This document contains all of the styles for the basic page.
 *
 */

// Wrappers
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: $bodyFont;
  font-weight: 100;
  transition: all .3s;
  &.home {
    background: $hero-background;
  }
  &#theme2 {
    background: $beige-t2;
  }
}

h1 {
  font-size: 36px;
  letter-spacing: .03em;
  font: {
    family: $displayFont;
    weight: 700;
  }
  @media (min-width: 768px) {
    font-size: 60px;
  }
}
h2 {
  font-size: 26px;
  letter-spacing: .03em;
  font: {
    family: $displayFont;
    weight: 700;
  }
  @media (min-width: 768px) {
    font-size: 40px;
  }
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.container, .content {
  max-width: 100%;
}
img {
  max-width: 100%;
}
