footer.home {
  color: #fff;
  .prefooter-container {
    &.pink {
      background-color: $pink;
    }
    &.blue {
      background-color: $blue;
    }
    &.purple {
      background-color: $purple;
    }
  }
}

.prefooter-container {
  text-align: center;
  padding: 40px 20px;
  transition: all .2s;
  .footer-title {
    font-size: 22px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 900;
  }
  ul {
    list-style: none;
    -webkit-padding-start: 0px;
    margin-bottom: 0px;
  }
  li {
    margin: 5px 0;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &.pink {
    background-color: $pink;
  }
  &.blue {
    background-color: $blue;
  }
  &.purple {
    background-color: $purple;
  }
}

.footer-container {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  background: $background-color;
}


body#theme2 {
  footer.home {
    color: $pink-t2;
    .prefooter-container {
      &.pink {
        background-color: $pink-t2;
        color: #fff;
      }
      &.blue {
        background-color: $blue-t2;
        color: #fff;
      }
      &.purple {
        background-color: $green-t2;
        color: #fff;
      }
    }
  }

  .prefooter-container {
    text-align: center;
    padding: 40px 20px;
    transition: all .2s;
    .footer-title {
      font-size: 22px;
      letter-spacing: .1em;
      text-transform: uppercase;
      font-weight: 900;
    }
    ul {
      list-style: none;
      -webkit-padding-start: 0px;
      margin-bottom: 0px;
    }
    li {
      margin: 5px 0;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &.pink {
      background-color: $pink;
    }
    &.blue {
      background-color: $blue;
    }
    &.purple {
      background-color: $purple;
    }
  }

  .footer-container {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background: $background-color;
  }
}
