/*
 * About section Styles
 *
 * This document contains all of the styles for the about section.
 *
 */

#contact {
  text-align: center;
  background: url('../img/workBg.png');
  padding: 50px 0;

  h2 {
    @apply --fancy-bold;
    color: var(--background-color);
  }
  p {
    color: var(--background-color);

    .about-sub-head {
      font-weight: 500;
    }
  }
}
