/*
*
*
* Styles for the geometry hero
*
*
*/


#hero {
  height: 100vh;
  min-height: 500px;
  max-height: 650px;
  padding-top: 1px;

  & .geometry-container {
    @include absolute-center;

    & .par-container {
      position: absolute;
      width: $rhom-width + 10;
      height: $rhom-height;
      @include absolute-center;
      margin-top: 100px;

      & .geo-par-1, .geo-par-2 {
        height: $par-height;
        width: $par-width;
        background-color: rgba(200,200,200,0.3);
        transform: skew(-48deg);
        margin-top: $rhom-height - 25.2;

        &:nth-child(2){
          float: right;
          margin-top: $rhom-height - 21;
        }
      }
    }

    & .rhom-container {
      position: absolute;
      display: inline-block;
      margin-top: 100px;
      @include absolute-center;
      height: $rhom-height;
      width: $rhom-width;
      vertical-align: middle;
      transform: translateX(0) translateY(0);

      & .geo-rhom-outer {
        position: absolute;
        @include absolute-center;
        transform: rotate(-25deg) skew(40.28deg);
        background: linear-gradient(120deg, rgba(90,90,90,1), 30%, rgba(255,255,255,0.0));
        height: 100%;
        width: 100%;
      }

      & .geo-rhom-inner {
        position: absolute;
        @include absolute-center;
        height: $rhom-height - 4;
        width: $rhom-width - 5;
        transform: rotate(-25deg) skew(40.28deg);
        background: $hero-background;
        margin-top: $rhom-border-size;
      }
    }
  }
}


@media screen and (max-width: 450px) {
  #hero {
    & .geometry-container {
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: 1130px) {
  #hero {

    & .geometry-container {
      & .par-container {
        width: $lg-rhom-width + 105;
        height: $lg-rhom-height;

        & .geo-par-1, .geo-par-2 {
          height: $lg-par-height;
          width: $lg-par-width;
          margin-top: $lg-rhom-height - 290;

          &:nth-child(2){
            margin-top: $lg-rhom-height - 225;
          }
        }
      }

      & .rhom-container {
        height: $lg-rhom-height;
        width: $lg-rhom-width;

        & .geo-rhom-inner {
          height: $lg-rhom-height - 45;
          width: $lg-rhom-width - 62;
          margin-top: $lg-rhom-border-size;
        }
      }
    }
  }
}

.geo-rhom-outer, .geo-par-1, .geo-par-2 {
  &.pink {
    background: linear-gradient(120deg, rgba(253,101,188,1), 30%, rgba(253,101,188,0.0)) !important;
    transition: all .3s;
  }
}
.geo-rhom-outer, .geo-par-1, .geo-par-2 {
  &.blue {
    background: linear-gradient(120deg, rgba(89,231,255,1), 30%, rgba(89,231,255,0.0)) !important;
    transition: all .3s;
  }
}
.geo-rhom-outer, .geo-par-1, .geo-par-2 {
  &.purple {
    background: linear-gradient(120deg, rgba(225,152,253,1), 30%, rgba(225,152,253,0.0)) !important;
    transition: all .3s;
  }
}

#hero.page {
  height: 200px;
  min-height: 0px;
  background-color: transparent;

  & .geometry-container {
    @media (max-width: 450px) {
      margin-top: 0px;
    }
    & .par-container {
      position: absolute;
      width: $sm-rhom-width + 11;
      height: $sm-rhom-height;
      margin-top: 0px;

      & .geo-par-1, .geo-par-2 {
        height: $sm-par-height;
        width: $sm-par-width;
        background-color: rgba(200,200,200,0.5);
        margin-top: $sm-rhom-height - 94;

        &:nth-child(2){
          margin-top: $sm-rhom-height - 80;
        }
      }
    }

    & .rhom-container {
      margin-top: 30px;
      height: $sm-rhom-height;
      width: $sm-rhom-width;

      & .geo-rhom-outer {
        width: 96%;
      }

      & .geo-rhom-inner {
        height: $sm-rhom-height - 17;
        width: $sm-rhom-width - 28;
        background: white;
        margin-top: $sm-rhom-border-size - 1;
      }
    }
  }
}
//////
// Theme 2
//////

body#theme2 {
  #hero {

    & .geometry-container {
      & .par-container {
        & .geo-par-1, .geo-par-2 {
          background-color: transparent;
          border: 1px solid $pink-t2;
          opacity: .6;
        }
      }

      & .rhom-container {

        & .geo-rhom-outer {
          background: transparent;
          border: 1px solid $pink-t2;
          opacity: .6;
        }

        & .geo-rhom-inner {
          background: $beige-t2;
          &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: 1px solid $pink-t2;
            opacity: .6;
          }
        }
      }
    }
  }

  .geo-rhom-outer, .geo-par-1, .geo-par-2 {
    &.pink {
      background: linear-gradient(120deg, $pink-t2, 30%, $pink-t2-0) !important;
      transition: all .3s;
      border: 1px solid $pink-t2 !important;
      + .geo-rhom-inner:before {border-color: $pink-t2 !important}
    }
  }
  .geo-rhom-outer, .geo-par-1, .geo-par-2 {
    &.blue {
      background: linear-gradient(120deg, $blue-t2, 30%, $blue-t2-0) !important;
      transition: all .3s;
      border: 1px solid $blue-t2 !important;
      + .geo-rhom-inner:before {border-color: $blue-t2 !important}
    }
  }
  .geo-rhom-outer, .geo-par-1, .geo-par-2 {
    &.purple {
      background: linear-gradient(120deg, $green-t2, 30%, $green-t2-0) !important;
      transition: all .3s;
      border: 1px solid $green-t2 !important;
      + .geo-rhom-inner:before {border-color: $green-t2 !important}
    }
  }
}
