/*
*
*
* Styles for the navigation and header portion
*
*
*/

.theme-buttons {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  &.page {
    display: none;
  }
  ul {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    -webkit-padding-start: 0px;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    li {
      height: 15px;
      width: 15px;
      border: 2px solid #fff;
      border-radius: 50%;
      &.dark {
        background: $hero-background;
      }
      &.retro {
        background: $beige-t2;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media (min-width: 768px) {
    width: auto;
    ul {
      padding: 0 20px;
      width: auto;
      margin-top: 10px;
      li {
        height: 20px;
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}

.title-container {
  position: relative;
  @include clearfix;
  text-align: center;
  color: $white;
  padding: 0 10px;

  & h1 {
    position: relative;
    @include fancy-bold;
    font-size: 5em;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    transition: font-size .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1em;
    @media (min-width: 550px) {
      line-height: normal;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
  & p {
    font: {
      family: $bodyFont;
      weight: 100;
      size: 1.6em;
    }
    letter-spacing: 1.8px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
}

.nav-hr {
  height: 1px;
  width: 60%;
  max-width: 650px;
  margin: 5px auto;
  background-color: $white;
  transition: width .3s;
}

#header {
  position: fixed;
  margin-top: 140px;
  @include absolute-center;
  z-index: 2;
  transition: background .3s;
  @media (min-width: 550px) {
    margin-top: 185px;
  }

  & ul {
    list-style: none;
    color: $white;
    text-align: center;
    -webkit-padding-start: 0px;
    margin-top: 8px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8);

      & li {
        display: inline-block;
        text-transform: uppercase;
        margin: 10px 16px;
        letter-spacing: 1.5px;
        font-size: 1.15em;
        transition: all .3s;
        color: $white;

        & a {
          transition: all .2s;
        }

        & a:visited {
          color: $white;
          text-decoration: none;
        }
        & a:focus {
          color: $white;
          text-decoration: none;
        }
        & a:hover {
          text-decoration: none;
          color: rgba(253,101,188,1);
          cursor: pointer;
        }
      }
  }
}
#header.page {
  position: absolute;
  margin-top: 40px;
  .title-container {
    color: #353535;
    & h1 {
      font-size: 2.5em;
      text-shadow: none;
      margin-top: 24px;
      margin-bottom: 5px;
    }
    & p {
      font: {
        size: .8em;
      }
    }
  }

  .nav-hr {
    display: none;
  }

  & ul {
    display: none;
  }
}


//////
// Theme2
//////
body#theme2 {
  .title-container {
    color: $blue-t2;
    font-size: 10px;
    @media (min-width: 768px) {
      font-size: 1em;
    }
    & h1 {
      color: $blue-t2;
      text-shadow: none;
      font-family: $bodyFont;
      font-style: normal;
      font-weight: 900;
      text-transform: uppercase;

    }
  }
}
.hidden-title {
  position: fixed;
  background-image: url('media/anna-cantrell.png');
  height: 50px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -50px;
}
