/*
*
*
* Styles for the navigation and header portion
*
*
*/


.title-container {
  position: relative;
  @include clearfix;
  text-align: center;
  color: $white;
  padding: 0 10px;

  & h1 {
    position: relative;
    @include fancy-bold;
    font-size: 5em;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    transition: font-size .3s;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1em;
    @media (min-width: 550px) {
      line-height: normal;
      margin-top: 15px;
      margin-bottom: 0px;
    }
  }
  & p {
    font: {
      family: $bodyFont;
      weight: 100;
      size: 1.6em;
    }
    letter-spacing: 1.8px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
}

.nav-hr {
  height: 1px;
  width: 60%;
  max-width: 650px;
  margin: 5px auto;
  background-color: $white;
  transition: width .3s;
}

#header {
  position: fixed;
  margin-top: 50px;
  @include absolute-center;
  z-index: 2;
  transition: background .3s;
  @media (min-width: 550px) {
    margin-top: 150px;
  }

  & ul {
    list-style: none;
    color: $white;
    text-align: center;
    -webkit-padding-start: 0px;
    margin-top: 8px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8);

      & li {
        display: inline-block;
        text-transform: uppercase;
        margin: 10px 16px;
        letter-spacing: 1.5px;
        font-size: 1.15em;
        transition: all .3s;
        color: $white;

        & a {
          transition: all .2s;
        }

        & a:visited {
          color: $white;
          text-decoration: none;
        }
        & a:focus {
          color: $white;
          text-decoration: none;
        }
        & a:hover {
          text-decoration: none;
          color: rgba(253,101,188,1);
          cursor: pointer;
        }
      }
  }
}
#header.page {
  position: absolute;
  margin-top: 40px;
  .title-container {
    color: #353535;
    & h1 {
      font-size: 2.5em;
      text-shadow: none;
      margin-top: 24px;
      margin-bottom: 5px;
    }
    & p {
      font: {
        size: .8em;
      }
    }
  }

  .nav-hr {
    display: none;
  }

  & ul {
    display: none;
  }
}
