.section--title {
  margin: 50px 0;
  padding: 0 20px;
  @media (min-width: 1064px) {
    padding: 0;
  }
  .categories {
    text-transform: capitalize;
    position: relative;
    padding-left: 15px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: $blue;
    }
  }
}
h1.title {
  margin-bottom: 10px;
}
.subtitle {
  font-weight: 100;
}
